.custom-context-menu {
  .p-contextmenu-root-list, .p-contextmenu-submenu	{
    display: grid;
    grid-template-columns: repeat(6, minmax(2rem, 1fr));
    gap: 10px;
  }
  .p-menuitem {
    text-align: center !important;
  }
  .p-contextmenu-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    .custom-icon {
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    .ng-star-inserted {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .p-contextmenu-item-link{
    gap: 0;
  }
}

