<div class="tab-player">
  <p-button
    pTooltip="{{'_Player.Play' | transloco}}"
    tooltipPosition="bottom"
    icon="pi pi-play"
    [rounded]="true"
    [raised]="true"
    (click)="playTabulature()"
  ></p-button>

  <p-button
    pTooltip="{{'_Player.Stop' | transloco}}"
    tooltipPosition="bottom"
    icon="pi pi-stop"
    [rounded]="true"
    [raised]="true"
  ></p-button>

  <p-button
    pTooltip="{{'_Player.Restart' | transloco}}"
    tooltipPosition="bottom"
    icon="pi pi-refresh"
    [rounded]="true"
    [raised]="true"
  ></p-button>

  <p-button
    pTooltip="{{'_Player.Upload' | transloco}}"
    tooltipPosition="bottom"
    icon="pi pi-upload"
    [rounded]="true"
    [raised]="true"
    (click)="openUploadDialog()"
  ></p-button>

  <p-button
    pTooltip="{{'_Player.Download' | transloco}}"
    tooltipPosition="bottom"
    icon="pi pi-download"
    [rounded]="true"
    [raised]="true"
    (click)="exportTabulature()"
  ></p-button>

</div>

<app-upload-dialog />

