<p-dialog
  [(visible)]="uploadDialogVisible"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  header=""
  [showHeader]="false"
  position="center"
>
  <ng-template #headless>
    <p-fileupload
      [multiple]="false"
      [auto]="false"
      [customUpload]="true"
      accept=".wav"
      maxFileSize="5000000"
      (onSelect)="onSelectedFile($event)"
      >
       <ng-template
         #header
          let-files
          let-chooseCallback="chooseCallback"
          let-clearCallback="clearCallback"
          let-uploadCallback="uploadCallback">
         <div class="file-upload-header">
           <p-button
             icon="pi pi-images"
             [rounded]="true"
             [outlined]="true"
             severity="info"
             (click)="chooseCallback()"
           ></p-button>
           <p-button
             icon="pi pi-times"
             [rounded]="true"
             [outlined]="true"
             severity="danger"
             (click)="clearCallback()"
           ></p-button>
         </div>
       </ng-template>

        <ng-template #content
             let-files
             let-uploadedFiles="uploadedFiles"
             let-removeFileCallback="removeFileCallback"
             let-removeUploadedFileCallback="removeUploadedFileCallback"
             let-uploadCallback="uploadCallback"
              >
          @if (files?.length > 0) {
            <div class="file-upload-pending">
              @if (loading) {
                <div class="loading-overlay">
                  Loading...
                </div>
              }
              <div class="file-upload-pending__list">
                @for (file of files; track $index) {
                  <div class="file-upload-pending__item">
                    <div class="file-upload-pending__item__icon">
                      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-music"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M13 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M9 17v-13h10v13" /><path d="M9 8h10" /></svg>
                    </div>
                    <div class="file-upload-pending__item__details">
                      <span class="file-upload-pending__item__name">{{file.name}}</span>
                      <span class="file-upload-pending__item__size">{{file.size}}</span>
                    </div>
                    <div class="file-upload-pending__item__actions">
                      <p-badge value="{{'_Player.Pending' | transloco}}" severity="info"></p-badge>
                      <button
                        class="file-upload-pending__item__transcribe"
                        pButton
                        pRipple
                        severity="success"
                        [rounded]="true"
                        [outlined]="true"
                        type="button"
                        (click)="transcribeEvent()"
                      >
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-writing"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 17v-12c0 -1.121 -.879 -2 -2 -2s-2 .879 -2 2v12l2 2l2 -2z" /><path d="M16 7h4" /><path d="M18 19h-13a2 2 0 1 1 0 -4h4a2 2 0 1 0 0 -4h-3" /></svg>
                      </button>
                      <p-button
                        icon="pi pi-trash"
                        [rounded]="true"
                        [outlined]="true"
                        severity="danger"
                        (click)="removeFileCallback(file)"
                      ></p-button>
                    </div>
                  </div>
                }
              </div>
            </div>
          }
          @if (uploadedFiles?.length > 0) {
            <div class="file-upload-uploaded">
              <h3 class="file-upload-uploaded__title">{{'_Player.Uploaded files' | transloco}}</h3>
            </div>
          }
        </ng-template>
        <ng-template #file></ng-template>
        <ng-template #empty>
          <div class="file-upload-empty">
            <i class="pi pi-cloud-upload file-upload-empty__icon"></i>
            <p class="file-upload-empty__text">{{'_Player.Drag and drop files to here to upload' | transloco}}</p>
            <span class="file-upload-empty__info">{{'_Player.Available formats:' | transloco}} .wav</span>
          </div>
        </ng-template>

    </p-fileupload>
  </ng-template>
</p-dialog>
