<div  class="tabulature-row">
  <svg  #rowElement (click)="highlightSpotOnStaff($event)" [attr.width]="rowWidth()" [attr.height]="rowHeight()">
    <defs>
      <mask [attr.id]="tabulationRowId()">
        <rect [attr.width]="rowWidth()" [attr.height]="rowHeight()" fill="white"></rect>

        @for (mask of barItems(); track $index ){
          @if(!!mask.tabObject?.fretNumber) {
            <rect
              [attr.x]="(mask?.tabObject?.fretNumber ?? 0) > 9 ? mask.x - TabInterface.FONT_SIZE / 2 : mask.x - TabInterface.FONT_SIZE / 4"
              [attr.y]="mask.y - TabInterface.FONT_SIZE / 4"
              [attr.width]="(mask?.tabObject?.fretNumber ?? 0) > 9 ? TabInterface.FONT_SIZE + TabInterface.FONT_SIZE / 1.5 : TabInterface.FONT_SIZE"
              [attr.height]="TabInterface.FONT_SIZE"
              fill="black">
            </rect>
          }
        }
      </mask>
    </defs>
    <path [attr.mask]="'url(#' + tabulationRowId() + ')'" [attr.d]="rowPath()" [attr.stroke]="'#9B9B93'" [attr.stroke-width]="TabInterface.STROKE_WIDTH" [attr.fill]="'none'"/>
    <rect #highlight  [attr.width]="TabInterface.FONT_SIZE + (TabInterface.FONT_SIZE / 2)" [attr.height]="TabInterface.FONT_SIZE + (TabInterface.FONT_SIZE / 2)" rx="5" ry="5" [attr.x]="this.highlightPosition().x - this.adjustHighlightRectangle()" [attr.y]="this.highlightPosition().y - (TabInterface.FONT_SIZE + (TabInterface.FONT_SIZE / 2)) / 2" [attr.fill]="'#34F6F2'"></rect>

    @for (item of barItems(); track $index) {
      @if (!!item.tabObject) {
        <text [attr.x]="(item?.tabObject?.fretNumber ?? 0) > 9 ? item.x - (TabInterface.FONT_SIZE / 4) : item.x" [attr.y]="item.y + ((TabInterface.FONT_SIZE / 2) - TabInterface.STROKE_WIDTH)" [attr.font-size]="TabInterface.FONT_SIZE" [attr.fill]="'#9B9B93'">{{item?.tabObject?.fretNumber}}</text>
      }
    }

<!--    @for (bar of rowBars(); track $index) {-->
<!--      @for (barColumn of bar.items; track $index) {-->
<!--        @for (item of barColumn; track $index) {-->
<!--          <circle r="2" [attr.cx]="item.x" [attr.cy]="item.y" fill="red" />-->
<!--        }-->
<!--      }-->
<!--    }-->
  </svg>
  <app-context-menu [menuTarget]="highlight"/>
</div>
