.whole-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/whole-note.svg");
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  object-fit: cover;
}
.half-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/half-note.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;

}
.quarter-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/quarter-note.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}

.eighth-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/eigth-note.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.sixteenth-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/sixteenth-note.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.thirty-second-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/thirty-second-note.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
