.arpeggio-up-svg-icon {
  color: #fff;
  width: 2rem;
  background-image: url("/assets/NoteNest/arpeggio-up.svg");
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.arpeggio-down-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/arpeggio-down.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.bend-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/bend.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.chord-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/chord.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.down-stroke-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/down-stroke.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.hammer-pull-off-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/hammer-pull-off.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.harmonic-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/harmonic.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.legato-slide-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/legato-slide.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.let-ring-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/let-ring.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.move-note-down-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/move-note-down.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.natural-harmonic.svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/natural-harmonic.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.palm-mute-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/P.M.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.pop-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/pop.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.slap-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/slap.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.slide-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/slide.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.slide-in-above-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/slide-in-above.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.slide-in-below-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/slide-in-below.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.slide-out-down-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/slide-out-down.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.slide-out-up-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/slide-out-up.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.slight-vibrato-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/slight-vibrato.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.stroke-up-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/stroke-up.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.tap-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/tap.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.tie-to-previous-bit-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/tie-to-previous-bit.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}

