.whole-pause-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/whole-pause.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.half-pause-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/half-pause.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.quarter-pause-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/quarter-pause.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}

.eighth-pause-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/eigth-pause.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.sixteenth-pause-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/sixteenth-pause.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
.thirty-second-pause-svg-icon {
  color: #fff;
  background-image: url("/assets/NoteNest/thirty-second-pause.svg");
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 1px;
  overflow: hidden;
  object-fit: cover;
}
