/* You can add global styles to this file, and also import other style files */
body {
  background: #0E1116;
}

/* custom-icons  */

.eighth-svg-icon {
  color: #fff;
  background-image: url("/assets/notes/eighth_note.svg");
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-size: cover;
}
