<div class="staff-container">
  <svg class="tuningContainer">
    @for (item of activeGuitarTuning; track $index ){
      <text [attr.x]="5" [attr.y]="($index + 1) * SPACE_BETWEEN_LINES + ((TabInterface.FONT_SIZE / 2)  - TabInterface.STROKE_WIDTH)" [attr.font-size]="TabInterface.FONT_SIZE" [attr.fill]="'#9B9B93'">{{item}}</text>
    }
  </svg>
  <div #rowsContainer class="linesContainer">
    @for (row of tabulation; track $index) {
      <app-tabulature-row
        [rowWidth]="width()"
        [rowHeight]="height()"
        [rowBars]="row.bars"
        [rowPath]="row.path"
        [rowNumber]="row.id"
        [rowErrors]="currentBarErrors(row.id)"
        [rowAdditionalItems]="row.additionalItems ?? []"></app-tabulature-row>
    }
  </div>
  <ng-container [ngTemplateOutlet]="timeSignatureDialog"></ng-container>
  <app-tab-player />
  <p-toast />
</div>

<ng-template #timeSignatureDialog>
  <app-time-signature-dialog />
</ng-template>


